body {
    background-color: #336699;
    padding: 0px;
  }
  
  .container {
    max-width: 400px;
    margin: 0 auto;
    background-color: #0b1c28;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }
  
  .title {
    color: #333;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .subtitle {
    color: #555;
    font-size: 16px;
    margin-top: 0;
  }
  
  .start-survey-button {
    background-color: #336699;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    width: auto;
    max-width: 500px;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }